API_ID = 26062103
API_HASH = "079b22308db2fd2c40789ed65e50f042" 
BOT_TOKEN = "" # Get it by creating a bot on https://t.me/BotFather
SUDO_USERS = "" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "" # Download directory where to download files. Must ends with forward slash > / <
